@import '~antd/dist/antd.css';

body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: rgb(226, 226, 226);
}

.navbar{
    position: relative;
    height: 100vh;
}

.change-themes-box>span{
    margin: 5px;
}

.changeMenu{

}