*log
*.pot 
*.pyc 
*.xml 
*node* 
node_modules*
env*
*.sqlite3 
__pycache__/* 
.idea/ 
*.DS_Store*
/static/*

# webpack stats
webpack-stats.json

# Temporary Files
*.swp
webpack-stats.json
webpack-stats.json
