{% load staticfiles %}
{% autoescape off %}
<body style="background-color: #efefef; padding: 25px;">
	<table>
		<tr style="width: 100%; height: 70px; padding-top: 20px; display: inline-block; background-color: #002842;">
			<td style="color: white"><h1>CCMN</h1></td>
		</tr>
		<tr style="font-weight: 600px; padding-bottom: 50px;">
			<td>Вам открыт доступ к ресурсу: <a style="color: #337ab7;">ccmn.com</a></td>
		</tr>
		<tr><td>Пожалуйста, сохраните это сообщение. </td></tr>
		<tr style="font-weight: 600px; padding-bottom: 50px;">
			<td>Параметры вашей учетной записи таковы:</td>
		</tr>
		<tr style="font-weight: 600px; padding-bottom: 50px;">
			<td>Имя пользователя: {{ user.username }}</td>
		</tr>
		<tr style="font-weight: 600px; padding-bottom: 50px;">
			<td>Email: {{ user.email }}</td>
		</tr>
		<tr style="font-weight: 600px; padding-bottom: 25px;">
			<td>Для активации учетной записи перейдите по ссылке</td>
		</tr>
		<tr style="color: #337ab7;">
			<td><a href="{{ domain }}{% url 'activate' uidb64=uid token=token %}">{{ domain }}{% url 'activate' uidb64=uid token=token %}</a></td>
		</tr>
		<tr style="width: 100%; height: 30px; padding-top: 10px; display: inline-block; background-color: white">
			<td>dev by <img src="https://unit.ua/static/img/logo.png" style="width: 35px;"> students</td>
		</tr>
	</table>
</body>
{% endautoescape %}
